/*@font-face
{
	font-family: 'Raleway';
	src: url('/fonts/static/Raleway-Regular.ttf') format('truetype'); 
} */


h2
{
	font-size: 20px;
	font-weight: bold;
}

*
{
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box; /*indique au navigateur de prendre en compte la bordure et le remplissage dans la valeur définie pour la largeur et la hauteur*/
}

body
{
	margin: 0px;
	/*overflow: hidden;*/
}

img
{
	object-fit: cover;
}




/*	################################################## 
	############# Début barre navigation #############
	##################################################	*/

header
{
	margin-bottom: 15px; /*marge ext bas header*/
}

.barrenav img /*position logo site*/
{
	padding-top: 25px;
	margin-right: 33%;
	margin-left: 5vw;
}

.barrenav /* flex menu navigation (hébergement activité etc) */
{
	display: flex;
	flex-wrap: wrap;
	/* border: solid 5px black; */
}


.liennav /*position liens menu navigation*/
{
	text-align: center;
	margin-top: auto;
	/* border: solid 1px black; */
}

.liennav a /*formatage liens menu navigation*/
{
	text-decoration: none;
	color: black;
}

.inscription /*position lien s'incrire*/
{
	margin-right: 1vw;
	margin-bottom: 10px;
}

.inscription a /*formatage lien s'incrire*/
{
	font-weight: bold;
	color: #0065fc;
}

.demi /*position 50/50 liens hébergement et activités écrans mobiles*/
{
    width: 50vw;
}

.hoovernav /*position et taille éléments pour passage souris*/
{
	display: flex;
	flex-direction: column;
	height: 68px;
	/* border: solid 1px black; */
}

.couleurhoover /*couleur de base taille et position petite barre sans le passage de la souris*/
{
    background-color: rgb(216, 223, 230);
    width: 100%;
	height: 3px;
	margin-top: 15px;
}

.liennav:hover ~ .couleurhoover /*couleur fond petite barre passage souris*/
{
	background-color: #0065fc;
}

.liennav a:hover /*couleur liens au passage souris*/
{
	color: #0065fc;
}

/* passage écran supérieur à écran mobile */

@media (min-width: 360px)
{



.barrenav img /*position logo site*/
{

	margin-right: 45%;
	
}



.demi /*position 50/50 liens hébergement et activités écrans mobiles*/
{
    width: 50vw;
}


}



@media (min-width: 700px)
{

	.barrenav
	{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin-right: 1vw;

		/* border: solid 5px black; */
	}

	.barrenav :nth-child(3)
	{
		margin-left: auto; /*repousse la barrenav à droite*/
	}

	.barrenav img
	{
		padding-top: 25px;
		margin-right: 30%;
		margin-left: 3vw;
	}

	.liennav
	{
		margin-left: auto;
		margin-bottom: 10px;
		/* border: solid 1px black; */
	}

	.demi
	{
		width: 150px;
	}

	.inscription
	{
		width: 150px;
		margin-bottom: 10px;
	}

	.hoovernav:nth-child(2) /*inversion éléments navigation*/
	{
		order: 4;
	}

	.hoovernav:nth-child(3)/*inversion éléments navigation*/
	{
		order: 2;
	}

	.hoovernav:nth-child(4)/*inversion éléments navigation*/
	{
		order: 3;
	}

	.hoovernav
	{
		flex-direction: column-reverse; /*inversion position petite barre survol souris*/
			/* border: solid 1px black; */
	}

	.couleurhoover
	{
		background-color: white;
		margin-top: 0px;
		/* border: solid 1px black; */
	} 
}
/*	################################################## 
	############## Fin barre navigation ##############
	##################################################	*/








/*	################################################## 
	############## Début bloc recherche ##############
	##################################################	*/

#recherche
{
	margin-left: 2vw; /*petite marge à gauche*/
	margin-right: 2vw;
	/*border: solid 1px black;*/
}

#recherche h2, h3, p
{
	padding-left: 4vw;
}

.r1
{
	display: flex;
	margin-bottom: 25px;
	margin-left: 4vw;
	border: solid 1px black;
}



.iconegauche
{
	background-color: #f2f2f2;
	padding: 10px; /*repousse l'icone des bords*/
	margin-left: 0px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;

	/*border: solid 2px black;*/
}

.bouton_recherche1
{
	background-color: #f2f2f2;
	padding: 10px; /*repousse l'icone des bords*/
	margin-left: -2vw;
	border-radius: 10px;
	color: white; /*couleur loupe*/
	background-color: #0065fc;
	border: none;
	/*border: solid 3px black;*/
}

.bouton_recherche2
{
	display: none;
}

.zone_saisie
{
	padding: 6px;
	border: 1px solid #f2f2f2;
	width: 200px;
	margin-left: 0px;
	font-size: 20px;
	font-weight: bold;
	border: solid 1px black;
}

::placeholder
{
	color: black;
	font-size: 20px;
	font-weight: bold;
}

/* passage écran supérieur à écran mobile */





@media (min-width: 760px)
{
	.r1
	{
		display: flex;
		margin-bottom: 25px;
		margin-left: 0px;
		/*border: solid 1px blue;*/
	}


	.bouton_recherche1
	{
		display: none;
	}

	.bouton_recherche2
	{
		padding: 8px; /*repousse le texte des bords*/
		background: #0065fc;
		color: white;
		font-size: 17px;
		font-weight: 600;
		border: none;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		margin-left: -1px; /* permet de coller le bouton au formulaire*/
	}

}











/*	################################################## 
	############### Début bloc filtres ###############
	##################################################	*/




.filtres
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.elementsfiltre:hover
{
	cursor: pointer; /*curseur doigt*/
	color: #0065fc;
}

.elementsfiltre
{
	display: flex;
	margin: 10px 1px 3px 4vw;
	text-align: center;
	border: solid;
	border-radius: 40px;
	border-width: 2px;
	border-color: lightgrey;
}

.elementsfiltre p
{
	padding-left: 10px;
	padding-right: 10px;
	margin-top: auto;
	margin-bottom: auto;
	font-weight: bold;
}

.filtres h3
{
	width: 100%;
	height: 40px;
	font-size: 18px;
	font-weight: bold;
	padding-top: 10px;
	margin-bottom: -8px; 
}

.elementicones
{
	display: flex;
	align-items: center;
	background-color: #deebff;
	height: 40px;
	border-radius: 50%;
	margin: -2px;
}

.icones
{
	background-color: #deebff;
	color: #0065fc;
	width: 40px;
	border-radius: 50%;
}

.element_iconeinfo
{
	display: flex;
	margin: 35px 0 20px 4vw;
}

.element_iconeinfo p
{
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 16px;
}

.iconeinfo
{
	display: flex;
	color: #0065fc;
	border: 1px solid;
	border-color: lightgray;
	width: 32px;
	height: 25px;
	border-radius: 50%;
	margin-right: 0px;
}

.tailleicone
{
	font-size: 10px;
	margin: auto;
}


/* passage écran supérieur à écran mobile */

@media (min-width: 800px)
{
  .filtres h3
	{
		margin-top: auto;
		margin-bottom: auto;
	}
}


/*	################################################## 
	################ Fin bloc filtres ################
	##################################################	*/

/*	################################################## 
	############### Fin bloc recherche ###############
	##################################################	*/









/*	################################################## 
	############# début bloc hébergement #############
	##################################################	*/




.souris:hover
{
	cursor: pointer;
}

#hebergement
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column-reverse; /* ############ media querie ############*/ 
	width: 94vw;
	/*border: solid 1px black;*/
}

.bloc_hebergement
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column; /* ############ media querie ############*/ 
	margin: 15px 1vw 15px 0;
	padding: 2vw; /* ############ media querie ############*/
	border-radius: 20px;
}

.bloc_hebergement h2
{
	padding-left: 2vw;
	margin: 0px 0 10px 2vw;
}

.bloc_hebergement h3
{
	padding-left: 1vw;
	margin: 0 0 5px 10px;
}

.bloc_hebergement p
{
	padding-left: 1vw;
	font-size: 15px;
	margin: 0 0 0 10px;
}

/*##### étoiles ######*/

.bloc_etoiles
{
	padding-left: 1vw;
	margin: auto 0 0 10px;
	padding-bottom: 1vw;
	font-size: 13px; /* taille des étoiles -_- */
}

.bloc_etoiles2
{
	padding-left: 1vw;
	margin: auto 0 0 0;
	padding-bottom: 1vw;
	font-size: 13px; /* taille des étoiles -_- */
}

.bleu
{
	color: rgb(0, 91, 251);
}

.gris
{
	color: rgb(214, 214, 214);
}

.element_hebergement
{
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	box-shadow: 1px 1px 1px 1px rgb(245, 242, 242);
	width: 90vw;  /*########## media querie ############*/
	margin: 3vw;
	height: 180px;
	/*border: solid 1px black;*/
}

.element_hebergement img
{
	border-top-left-radius: 17px; /*bords arrondis sur l'image*/
	border-top-right-radius: 17px;
	/*border: solid 1px black;*/
}

.image_elements
{
	padding: 4px; /*laisser de l'espace entre l'image et le bord*/
	height: 60%;
	/*border: solid 1px black;*/
}

.aff_plus
{
	font-weight: bold;
	font-size: 12px;
	padding-top: 15px;
	padding-bottom: 15px;
}





/* partie les plus populaires*/





.bloc_populaires
{
	display: flex;
	flex-direction: column;
	width: 100vw; /*############ media querie ############*/
	margin: 15px 0 15px 0vw; /*############# media querie #######"*/
	padding: 1vw;
	background-color: #f2f2f2;
	/*border: solid 1px black;*/
}


.iconetitre /*place l'icone à droite du titre*/
{
	display: flex;
	width: 100%; /* empecher que du contenu ne se place à droite.*/
	padding-left: 3.5vw; 
	/*border: solid 1px black;*/
}

.iconetitre i
{
	margin: auto 5vw auto auto;
}


.elements_populaires
{
	height: 140px;
	width: 90vw;
	display: flex;
	background-color: white; 
	border-radius: 20px;
	margin: 10px 0 2px 3vw;
	/*border: solid 1px black;*/
}

.elements_populaires img
{
	width: 40%;
	height: 100%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	padding: 4px 4px 4px 4px; /*écarter l'image des bords.*/
	/*border: solid 1px black;*/
}

.partie_droite
{
	display: flex;
	flex-direction: column;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-left: 12px;
	padding-right: 2vw;
	padding-bottom: 3px;
	/*border: solid 1px black;*/
}

.partie_droite h3
{
	padding: 0px;
	margin: 0px;
	padding-left: 1vw;
	padding-bottom: 15px;
	padding-top: 1vw;
	font-size: 16px;
	/*border: solid 1px black;*/
}

.partie_droite p
{
	padding: 0px;
	margin: -5px 0px 0px 0px;
	font-size: 15px;
	padding-left: 1vw;
	padding-bottom: 4px;
	/*border: solid 1px black;*/
}






/* passage écran supérieur à écran mobile */




@media (min-width: 760px)
{

	#hebergement
	{
		flex-direction: column-reverse;
		margin-left: 2.5vw; /* ########### media voir pour tablette ############## */
	}

	.bloc_hebergement
	{
		flex-direction: row;
		width: 94vw;
		margin: 15px 1vw 15px 0;
		background-color: #f2f2f2;
		padding: 1vw;
		border-radius: 20px;
	}

	.bloc_hebergement h2 /*pour que le h2 prenne toute la ligne*/
	{
		width: 100%;
		padding-left: 1vw;
		/*border: solid 1px black;*/
	}

	.bloc_hebergement p
	{
		width: 100%;
	}

	.element_hebergement
	{
		display: flex;

		width: 30vw;
		height: 25vw;
		margin: auto;
		background-color: white;
	}

	.element_hebergement img
	{
		width: 100%;
	}

		
	/* partie les plus populaires*/


	.bloc_populaires
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 94vw;
		margin: 15px 0 15px 1vw;
		border-radius: 20px;
		margin-left: 0vw;
	}

	.elements_populaires
	{
		display: flex;
		flex-direction: column;
		height: 25vw;
		background-color: white; 
		border-radius: 20px;
		margin: 10px;
		width: 30%;
	}


	.elements_populaires img
	{
		width: 100%;
		height: 10vw;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 0px; 
		padding: 4px 4px 4px 4px; /*écarter l'image des bords.*/
		/*border: solid 1px black;*/
	}

}


@media (min-width: 1024px)
{

	#hebergement
	{
		flex-direction: row;
		margin-left: 2.5vw;
	}

	.bloc_hebergement
	{
		flex-direction: row;
		width: 63vw; /*70% de la taille à gauche*/
		margin: 15px 1vw 15px 1;
		background-color: #f2f2f2;
		padding: 1vw;
		border-radius: 20px;
	}

	.bloc_hebergement h2 /*pour que le h2 prenne toute la ligne*/
	{
		width: 100%;
		padding-left: 1vw;
		/*border: solid 1px black;*/
	}

	.bloc_hebergement p
	{
		width: 100%;
	}

	.element_hebergement
	{
		width: 18vw;
		height: 180px;
		background-color: white;
	}

	.element_hebergement img
	{
		width: 100%;
	}

		
	/* partie les plus populaires*/


	.bloc_populaires
	{
		flex-direction: column;
		flex-wrap: nowrap;
		width: 29vw; /* 30% de la taille à droite*/
		margin: 15px 0 15px 1vw; /*pas de marge à droite*/
	}

	.elements_populaires
	{
		flex-direction: row;
		height: 33%;
		width: 100%;
		display: flex;
		/*border: solid 1px black;*/

	}

	.elements_populaires img
	{
		width: 40%;
		height: 100%;
		border-bottom-left-radius: 20px;
		border-top-right-radius: 0px;
	}

}





/*	################################################## 
	############## fin bloc hébergement ##############
	##################################################	*/









/*	################################################## 
	################## Début footer ##################
	##################################################	*/

footer /*flex position taille couleur fond footer*/
{
	display: flex;
	flex-direction: column;
	width: 100vw;
	background-color: #f2f2f2;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 40px;
}

.boiteFooter ul /*formatage listes à puce*/
{
	list-style-type: none;
}

.boiteFooter /*position éléments footer*/
{
	display: flex;
	margin-right: auto;
}

.boiteFooter a /*formatage et position liens des éléments du footer*/
{
	display: inline-block;
	font-weight: normal;
	text-decoration: none;
	color: black;
	font-size: 15px;
	font-weight: 400;
	padding-top: 15px;
}

/* passage au dessus de 700px */

@media (min-width: 760px)
{
	footer
	{
    	flex-direction: row;
	}
}

/*	################################################## 
	################### Fin footer ###################
	##################################################	*/