/*@font-face
{
	font-family: 'Raleway';
	src: url('/fonts/static/Raleway-Regular.ttf') format('truetype'); 
} */


h2
{
	font-size: 22px;
	font-weight: bold;
}

*
{
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box; /*indique au navigateur de prendre en compte la bordure et le remplissage dans la valeur définie pour la largeur et la hauteur*/
}

body
{
	margin: 0px;
	/*overflow: hidden;*/
}

img
{
	object-fit: cover;
}



/*	################################################## 
	############# Début barre navigation #############
	##################################################	*/

header
{
	margin-bottom: 15px; /*marge ext bas header*/
}

.barrenav img /*position logo site*/
{
	padding-top: 25px;
	margin-right: 25%;
	margin-left: 5vw;
}

.barrenav /* flex menu navigation (hébergement activité etc) */
{
	display: flex;
	flex-wrap: wrap;
}


.liennav /*position liens menu navigation*/
{
	text-align: center;
	margin-top: auto;
}

.liennav a /*formatage liens menu navigation*/
{
	text-decoration: none;
	color: black;
}

.inscription /*position lien s'incrire*/
{
	margin-right: 1vw;
	margin-bottom: 10px;
}

.inscription a /*formatage lien s'incrire*/
{
	font-weight: bold;
	color: #0065fc;
}

.nav1
{
	width: 50%;
}

.hoovernav /*position et taille éléments pour passage souris*/
{
	display: flex;
	flex-direction: column;
	height: 68px;
}

.couleurhoover /*couleur de base taille et position petite barre sans le passage de la souris*/
{
    background-color: rgb(216, 223, 230);
    width: 100%;
	height: 3px;
	margin-top: 15px;
}

.liennav:hover ~ .couleurhoover /*couleur fond petite barre passage souris*/
{
	background-color: #0065fc;
}

.liennav a:hover /*couleur liens au passage souris*/
{
	color: #0065fc;
}






/* passage écran supérieur à écran mobile */

@media (min-width: 360px)
{
	.barrenav img /*position logo site*/
		{
			margin-right: 45%;
		}
}



@media (min-width: 768px)
{

	.barrenav
	{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin-right: 1vw;
	}

	.barrenav :nth-child(3)
	{
		margin-left: auto; /*repousse la barrenav à droite*/
	}

	.barrenav img
	{
		padding-top: 25px;
		margin-right: 30%;
		margin-left: 3vw;
	}

	.liennav
	{
		margin-left: auto;
		margin-bottom: 10px;
		margin-right: 4vw;
	}

	.demi
	{
		width: 150px;
	}

	.inscription
	{
		
		margin-bottom: 10px;
	}

	.hoovernav:nth-child(2) /*inversion éléments navigation*/
	{
		order: 4;
	}

	.hoovernav:nth-child(3)/*inversion éléments navigation*/
	{
		order: 2;
		width: 150px;
	}

	.hoovernav:nth-child(4)/*inversion éléments navigation*/
	{
		order: 3;
		width: 150px;
	}

	.hoovernav
	{
		flex-direction: column-reverse; /*inversion position petite barre survol souris*/
	}

	.couleurhoover
	{
		background-color: white;
		margin-top: 0px;
		
	} 
}
/*	################################################## 
	############## Fin barre navigation ##############
	##################################################	*/








/*	################################################## 
	############## Début bloc recherche ##############
	##################################################	*/

#recherche
{
	margin-left: 2vw; /*petite marge à gauche*/
	margin-right: 2vw;
}

#recherche h2
{
	padding-left: 4vw;
	width: 94vw;
}

#recherche h3
{
	padding-left: 4vw;
}

#recherche p
{
	padding-left: 4vw;
	font-size: 16px;
}

.r1
{
	display: flex;
	margin-bottom: 2px;
	margin-left: 4vw;
	margin-top: 20px;
	height: 52px;
}

.iconegauche
{
	background-color: #f2f2f2;
	padding: 18px 0 0 22px; /*repousse l'icone des bords*/
	margin-left: 0px;
	border-top-left-radius: 18px;
	border-bottom-left-radius: 18px;
	width: 52px;
	height: 52px;
	font-size: 16px;
}

.bouton_recherche1
{
	background-color: #f2f2f2;
	padding: 18px 0 0 18px; /*repousse l'icone des bords*/
	margin-left: -2vw;
	border-radius: 15px;
	color: white; /*couleur loupe*/
	background-color: #0065fc;
	border: none;
	font-size: 16px;
	width: 52px;
	height: 52px;
}

.bouton_recherche2
{
	display: none;
}

.zone_saisie
{
	padding: 6px;
	border: 1px solid #f2f2f2;
	width: 62vw;
	height: 52px;
	margin-left: 0px;
	font-size: 20px;
	font-weight: bold;
}

::placeholder
{
	color: black;
	font-size: 18px;
	font-weight: bold;
}





/* passage écran supérieur à écran mobile */

@media (min-width: 768px)
{
	.barrenav img /*position logo site*/
	{
		margin-right: 22%;
		margin-left: 2.5vw;
	}
	.r1
	{
		display: flex;
		margin-bottom: 25px;
		margin-left: 0px;
		padding-left: 8px;
	}

	.iconegauche
	{

		padding: 18px 0 0 22px; /*repousse l'icone des bords*/
	}

	#recherche
	{
		margin-top: 50px;
	}

	#recherche h2
	{
		padding-left: 8px;
		width: 94vw;
	}

	#recherche h3
	{
		padding-left: 8px;
	}

	#recherche p
	{
		padding-left: 8px;
		font-size: 16px;
	}

	.t2
	{
		margin-top: -10px;
	}

	.zone_saisie
	{
		padding: 16px;
		border: 1px solid #f2f2f2;
		width: 230px;
		height: 52px;
		margin-left: 0px;
		font-size: 18px;
		font-weight: bold;
	}

	.bouton_recherche1
	{
		display: none;
	}

	.bouton_recherche2
	{
		padding: 14px 6px 0 18px; /*repousse le texte des bords*/
		background: #0065fc;
		color: white;
		font-size: 18px;
		font-weight: bold;
		border: none;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		margin-left: -1px; /* permet de coller le bouton au formulaire*/
		width: 135px;
	}
}




/*	################################################## 
	############### Début bloc filtres ###############
	##################################################	*/

.filtres
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: 25px;
}

.elementsfiltre:hover
{
	cursor: pointer; /*curseur doigt*/
	background-color: #f2f2f2;
	transition: background-color 1s, transform 1s; /* #### fade background-color: #f2f2f2 */
}

.elementsfiltre
{
	display: flex;
	margin: 10px 1px 3px 4vw;
	height: 48px;
	border: solid 2px lightgrey;
	border-radius: 40px;
	padding-right: 1px;
}

.elementsfiltre p
{
	padding-right: 10px;
	margin-top: auto;
	margin-bottom: auto;
	font-weight: bold;
}

.filtres h3
{
	width: 100%;
	height: 40px;
	font-size: 18px;
	font-weight: bold;
	padding-top: 10px;
	margin-bottom: -8px;
}

.elementicones
{
	display: flex;
	align-items: center;
	text-align: center;
	background-color: #deebff;
	height: 48px;
	border-radius: 50%;
	margin: -2px;
}

.icones
{
	background-color: #deebff;
	color: #0065fc;
	width: 48px;
	border-radius: 50%;
}

.element_iconeinfo
{
	display: flex;
	margin: 35px 0 20px 4vw;
}

.element_iconeinfo p
{	
	margin: 3px auto auto -5px;
}

.iconeinfo
{
	display: flex;
	color: #0065fc;
	border: 1px solid;
	border-color: lightgray;
	width: 32px;
	height: 25px;
	border-radius: 50%;
	margin-right: 0px;
}

.tailleicone
{
	font-size: 10px;
	margin: auto;
}



@media (min-width: 400px)
{
	
	.elementsfiltre p
	{
		padding-right: 20px;
		margin-left: -10px;
	}
}

/* passage écran supérieur à écran mobile */

@media (min-width: 768px)
{
	.filtres
	{
		margin-left: 8px;
		margin-top: 40px;
	}

	.elementsfiltre
	{
		margin: 10px 8px 0 0;
	}

	.filtres h3
	{
		width: 100%;
		height: 40px;
		font-size: 18px;
		font-weight: bold;
		padding-top: 10px;
		margin-bottom: -8px;
		margin-left: -8px;
	}

	.elementsfiltre p
	{
		margin-left: 0px;
		padding-right: 10px;
	}

	.element_iconeinfo
	{
		display: flex;
		margin: 35px 0 20px 8px;
	}

	.iconeinfo
	{
		width: 25px;
	}
}


@media (min-width: 1024px)
{
	.filtres
	{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin-left: 8px;
	}

	.filtres h3
	{
		width: 6%;
		margin-top: 14px;
	}

	.elementsfiltre
	{
		margin: 10px 10px 0 20px;

	}

	.elementsfiltre p
	{
		margin-left: 10px;
		padding-right: 20px;
	}

	.elementsfiltre:hover
	{
		transform: scale(1.1);
	}
}

	

/*	################################################## 
	################ Fin bloc filtres ################
	##################################################	*/

/*	################################################## 
	############### Fin bloc recherche ###############
	##################################################	*/









/*	################################################## 
	############# début bloc hébergement #############
	##################################################	*/

.souris:hover
{
	cursor: pointer;
}

#hebergement
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column-reverse; /* ############ media querie ############*/ 
	
}

.bloc_hebergement
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column; /* ############ media querie ############*/ 
	margin-left: 4vw;
	margin-top: 15px;
	margin-bottom: 15px;
	border-radius: 20px;
}

.element_hebergement
{
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	box-shadow: 4px 4px 10px 1px rgb(229, 229, 229);
	width: 90vw;  /*########## media querie ############*/
	margin-top: 3vw;
	margin-bottom: 3vw;
	height: 200px;
}

.bloc_hebergement h2
{
	
	margin: 0px 0 10px 1vw;
	font-weight: bold;
}

.bloc_hebergement h3
{
	padding-left: 1vw;
	margin: 2vw 0 5px 10px;
	font-size: 16px;
	font-weight: bold;
}

.bloc_hebergement p
{
	padding-left: 1vw;
	font-size: 15px;
	margin: 0 0 0 10px;
}

/*##### étoiles ######*/

.bloc_etoiles
{
	padding-left: 1vw;
	margin: auto 0 1vw 10px;
	padding-bottom: 1vw;
	font-size: 13px; /* taille des étoiles -_- */
}

.bloc_etoiles2
{
	padding-left: 1vw;
	margin: auto 0 0 0;
	padding-bottom: 3vw;
	font-size: 13px; /* taille des étoiles -_- */
}

.bleu
{
	color: rgb(0, 91, 251);
}

.gris
{
	color: rgb(214, 214, 214);
}



.element_hebergement img
{
	border-top-left-radius: 20px; /*bords arrondis sur l'image*/
	border-top-right-radius: 20px;
}

.image_elements
{
	padding: 4px; /*laisser de l'espace entre l'image et le bord*/
	height: 60%;
}

.aff_plus
{
	padding-top: 15px;
	padding-bottom: 15px;
}

p.aff_plus
{
	font-weight: bold;
	font-size: 18px;
	margin-left: 0px;
}



/* partie les plus populaires*/



.bloc_populaires
{
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 3vw 1vw 10vw 1vw;
	background-color: #f2f2f2;
}

.bloc_populaires h2
{
	margin-left: 1vw;
}

.iconetitre /*place l'icone à droite du titre*/
{
	display: flex;
	width: 100%; /* toute la largeur pour empecher que du contenu ne se place à droite.*/
	padding-left: 3.5vw; 
}

.iconetitre i
{
	margin: auto 2vw auto auto;
	font-size: 21px;
}

.elements_populaires
{
	height: 140px;
	width: 90vw;
	display: flex;
	background-color: white; 
	border-radius: 20px;
	margin-left: 4vw;
	margin-top: 10px;
	margin-bottom: 2px;
	box-shadow: 4px 4px 10px 1px rgb(229, 229, 229);
}

.elements_populaires img
{
	width: 40%;
	height: 100%;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	padding: 4px 4px 4px 4px; /*écarter l'image des bords.*/
}

.partie_droite
{
	display: flex;
	flex-direction: column;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	margin-left: 12px;
	padding-right: 2vw;
	padding-bottom: 3px;
}

.partie_droite h3
{
	padding: 0px;
	margin: 0px;
	padding-left: 1vw;
	padding-bottom: 15px;
	padding-top: 4vw;
	font-size: 16px;
}

.partie_droite p
{
	padding: 0px;
	margin: -5px 0px 0px 0px;
	font-size: 15px;
	padding-left: 1vw;
	padding-bottom: 4px;
}



/* passage écran supérieur à écran mobile */


@media (min-width: 768px)
{

	#hebergement
	{
		flex-direction: column-reverse;
		margin-left: 2.5vw;
	}

	.bloc_hebergement
	{
		flex-direction: row;
		width: 94vw;
		margin: 15px 1vw 15px 0;
		background-color: #f2f2f2;
		padding: 1vw;
		border-radius: 20px;
	}

	.bloc_hebergement h2 /*pour que le h2 prenne toute la ligne*/
	{
		width: 100%;
		margin-left: 2vw;
		padding-top: 12px;
	}

		.bloc_hebergement h3 
	{
		width: 100%;
		margin: 5px 0 5px 10px;
	}

	.bloc_hebergement p
	{
		margin-top: -2px;
		width: 100%;
	}

	.element_hebergement
	{
		display: flex;
		width: 28vw;
		height: 200px;
		margin: 10px auto 10px auto;
		background-color: white;
	}

	.element_hebergement img
	{
		width: 100%;
	}

	p.aff_plus
	{
		margin-left: 0px;
	}
	

	/* partie les plus populaires*/


	.bloc_populaires
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		width: 94vw;
		margin: 15px 0 0px 1vw;
		border-radius: 20px;
		margin-left: 0vw;
		padding-top: 1vw;
	}

	.iconetitre /*place l'icone à droite du titre*/
	{
		display: flex;
		width: 100%; /* toute la largeur pour empecher que du contenu ne se place à droite.*/
		padding-left: 12px; 
	}

	.iconetitre i
	{
		margin: auto 1.5vw auto auto;
	}

	aside
	{
		height: 40vw;
	}

	.elements_populaires
	{
		display: flex;
		flex-direction: column;
		height: 23vw;
		background-color: white; 
		border-radius: 20px;
		margin: 10px auto 10px auto ;
		width: 30%;
	}

	.elements_populaires img
	{
		width: 100%;
		height: 10vw;
		border-top-left-radius: 20px;
		border-top-right-radius: 20px;
		border-bottom-left-radius: 0px; 
		padding: 4px 4px 4px 4px; /*écarter l'image des bords.*/
	}

	.partie_droite p
	{
		padding: 0px;
		margin: -10px 0px 0px 0px;
		font-size: 15px;
		padding-left: 1vw;
		padding-bottom: 4px;
	}

		.partie_droite h3
	{
		padding-top: 1vw;
	}
}


@media (min-width: 1062px)
{

	#hebergement
	{
		flex-direction: row;
		margin-left: 2.5vw;
	}

	.bloc_hebergement
	{
		flex-direction: row;
		justify-content: space-around;
		width: 62vw; /*70% de la taille à gauche*/
		margin: 15px 1vw 15px 0;
		background-color: #f2f2f2;
		padding: 2vw 1vw 20px 1.5vw;
		border-radius: 20px;
	}

	.bloc_hebergement h2 /*pour que le h2 prenne toute la ligne*/
	{
		width: 100%;
		margin-left: 1vw;
	}

	.bloc_hebergement h3
	{
		margin: 5px 0 5px 2px;
		font-size: 16px;
	}

	.bloc_hebergement p
	{	
		margin: 0px 0 5px 2px;
	}

	.bloc_etoiles
	{
		margin: auto 0 5px 2px;
	}

	.element_hebergement
	{
		width: 18vw;
		height: 200px;
		background-color: white;
	}

	.element_hebergement img
	{
		width: 100%;
	}

		
	/* partie les plus populaires*/


	.bloc_populaires
	{
		flex-direction: column;
		flex-wrap: nowrap;
		width: 29vw; /* 30% de la taille à droite*/
		margin: 15px 0 15px 1.6vw;
		padding-top: 1vw;
		height: 600px;
	}

	.bloc_populaires h2
	{
		margin-bottom: 5px;
		margin-top: 1.8vw;
		margin-left: 0.4vw;
	}

	.elements_populaires
	{
		flex-direction: row;
		height: 140px;
		width: 90%;
		display: flex;
		margin: 15px auto 15px auto;
	}

	.elements_populaires img
	{
		width: 40%;
		height: 100%;
		border-bottom-left-radius: 20px;
		border-top-right-radius: 0px;
	}

	.partie_droite
	{
		margin-left: 0px;
	}


	.bloc_etoiles2
	{
		
		margin: auto 0 0 0;
		padding-bottom: 10px;
	}

	.iconetitre i
	{
		margin: 2vw 1.5vw auto auto;
	}
}


/*	################################################## 
	############## fin bloc hébergement ##############
	##################################################	*/






/*	################################################## 
	############## début bloc activités ##############
	##################################################	*/


#activites
{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	margin: 15px 0vw 15px 4vw;
	padding: 2vw 0 0 0;
	border-radius: 20px;
}

.element_activites
{
	display: flex;
	flex-direction: column;
	border-radius: 20px;
	box-shadow: 4px 4px 10px 1px rgb(229, 229, 229);
	width: 90vw;
	margin: 0 0 5vw 0;
	height: 200px;
}

.element_activites img
{
	border-top-left-radius: 20px; /*bords arrondis sur l'image*/
	border-top-right-radius: 20px;
	height: 75%;
	padding: 0px;
}

.image_activites
{
	
	height: 60%;
}

#activites h2
{
	margin-left: 4px;
}

#activites h3
{
	font-size: 16px;
	margin-left: 28px;
	font-weight: bold;
	margin-top: auto;;
}

.act1, .act2, .act3, .act4, .act5, .act6
	{
		width: 90vw;
	}


/* passage écran supérieur à écran mobile */


@media (min-width: 768px)
{
	#activites
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
 		justify-content: space-between;
		margin: 0 0 0 2.5vw;
		width: 94vw;
	}

	.image_activites
	{
		padding: 4px; /*laisser de l'espace entre l'image et le bord*/
	}

	.element_activites
	{
		width: 16vw;
		margin: 0 0 2vw 0;
	}

	#activites h2
	{
		width: 100%;
	}

	#activites h3
	{
		font-size: 1em;
		margin-left: 14px;
		font-weight: bold;
		margin-top: 2vw;
	}

	.act1, .act2, .act3, .act4, .act5, .act6
	{
		width: 45vw;
	}

	.act1, .act4
	{
		height: 52vw;
	}

	.act1 img
	{
		height: 89%;
	}

	.act4 img
	{
		height: 89%;
	}

	.act2, .act3, .act5, .act6
	{
		height: 25vw;
	}

	.actb1
	{
		display: flex;
		flex-direction: column;
	}

	.actb2
	{
		display: flex;
		flex-direction: column;
	}

	.r7:nth-child(1)
	{
		order: 4;
	}

	.r7:nth-child(2)
	{
		order: 1;
	}

	.r7:nth-child(4)
	{
		order: 2;
	}

	.element_activites img
	{
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
	}
}


@media (min-width: 1126px)
{

	#activites
	{
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		margin: 0 0 0 2.5vw;
		width: 94vw;
	}

	#activites h3
	{
		font-size: 1em;
		margin-left: 22px;
		margin-top: 1vw;
	}

	.act1, .act2, .act3, .act4, .act5, .act6
	{
		width: 21.5vw;
	}

	.act1
	{
		height: 31vw;
	}

	.act1 img
	{
		height: 89%;
	}

	.act2
	{
		height: 17vw;
	}

	.act2 img
	{
		height: 79%;
	}

	.act3
	{
		height: 11.5vw;
		margin-top: 0.5vw;
	}

	.act3 img
	{
		height: 70%;
		
	}

	.act4
	{
		height: 31vw;
	}

	.act4 img
	{
		height: 89%
	}

	.act5
	{
		height: 14vw;
	}

	.act5 img
	{
		height: 74%;
	}

	.act6
	{
		height: 14vw;
		margin-top: 1vw;
	}

	.act6 img
	{
		height: 80%;
	}

	.r7:nth-child(1)
	{
		order: 2;
	}

	.r7:nth-child(2)
	{
		order: 4;
	}

	.r7:nth-child(4)
	{
		order: 0;
	}
}

/*	################################################## 
	############### fin bloc activités ###############
	##################################################	*/







/*	################################################## 
	################## Début footer ##################
	##################################################	*/

footer /*flex position taille couleur fond footer*/
{
	display: flex;
	flex-direction: column;
	background-color: #f2f2f2;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 40px;
	margin-left: 0px;
}

.boiteFooter ul /*formatage listes à puce*/
{
	list-style-type: none;
	padding: 0 0 0 0;
	margin-left: 4vw;
}

.boiteFooter /*position éléments footer*/
{
	display: flex;
	margin-right: auto;
}

.boiteFooter a /*formatage et position liens des éléments du footer*/
{
	display: inline-block;
	font-weight: normal;
	text-decoration: none;
	color: black;
	font-size: 15px;
	font-weight: 400;
	padding-top: 15px;
}

/* passage au dessus de 768px */

@media (min-width: 768px)
{
	footer
	{
    	flex-direction: row;
    	margin-left: 0px;
	}

	.boiteFooter ul /*formatage listes à puce*/
	{
		margin-left: 3vw;
	}
}

/*	################################################## 
	################### Fin footer ###################
	##################################################	*/