/* mise de coté temporaire font-face */

/*@font-face
{
	font-family: 'Raleway';
	src: url('/fonts/static/Raleway-Regular.ttf') format('truetype'); 
} */


*
{
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box; /*indique au navigateur de prendre en compte la bordure et le remplissage dans la valeur définie pour la largeur et la hauteur*/
}

body
{
	margin: 0px;
	/*overflow: hidden;*/
}

img
{
	object-fit: cover;
}




/*	################################################## 
	############# Début barre navigation #############
	##################################################	*/

header
{
	margin-bottom: 15px; /*marge ext bas header*/
}

.barrenav img /*position logo site*/
{
	padding-top: 25px;
	margin-right: 45%;
	margin-left: 3vw;
}

.barrenav /* flex menu navigation (hébergement activité etc) */
{
	display: flex;
	flex-wrap: wrap;
	/* border: solid 5px black; */
}


.liennav /*position liens menu navigation*/
{
	text-align: center;
	margin-top: auto;
	/* border: solid 1px black; */
}

.liennav a /*formatage liens menu navigation*/
{
	text-decoration: none;
	color: black;
}

.inscription /*position lien s'incrire*/
{
	margin-right: 1vw;
	margin-bottom: 10px;
}

.inscription a /*formatage lien s'incrire*/
{
	font-weight: bold;
	color: #0065fc;
}

.demi /*position 50/50 liens hébergement et activités écrans mobiles*/
{
    width: 50vw;
}

.hoovernav /*position et taille éléments pour passage souris*/
{
	display: flex;
	flex-direction: column;
	height: 68px;
	/* border: solid 1px black; */
}

.couleurhoover /*couleur de base taille et position petite barre sans le passage de la souris*/
{
    background-color: rgb(216, 223, 230);
    width: 100%;
	height: 3px;
	margin-top: 15px;
}

.liennav:hover ~ .couleurhoover /*couleur fond petite barre passage souris*/
{
	background-color: #0065fc;
}

.liennav a:hover /*couleur liens au passage souris*/
{
	color: #0065fc;
}

/* passage écran supérieur à écran mobile */

@media (min-width: 700px)
{

	.barrenav
	{
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		margin-right: 1vw;

		/* border: solid 5px black; */
	}

	.barrenav :nth-child(3)
	{
		margin-left: auto; /*repousse la barrenav à droite*/
	}

	.barrenav img
	{
		padding-top: 25px;
		margin-right: 30%;
		margin-left: 3vw;
	}

	.liennav
	{
		margin-left: auto;
		margin-bottom: 10px;
		/* border: solid 1px black; */
	}

	.demi
	{
		width: 150px;
	}

	.inscription
	{
		width: 150px;
		margin-bottom: 10px;
	}

	.hoovernav:nth-child(2) /*inversion éléments navigation*/
	{
		order: 4;
	}

	.hoovernav:nth-child(3)/*inversion éléments navigation*/
	{
		order: 2;
	}

	.hoovernav:nth-child(4)/*inversion éléments navigation*/
	{
		order: 3;
	}

	.hoovernav
	{
		flex-direction: column-reverse; /*inversion position petite barre survol souris*/
			/* border: solid 1px black; */
	}

	.couleurhoover
	{
		background-color: white;
		margin-top: 0px;
		/* border: solid 1px black; */
	} 
}
/*	################################################## 
	############## Fin barre navigation ##############
	##################################################	*/








/*	################################################## 
	############## Début bloc recherche ##############
	##################################################	*/

#recherche
{
	margin-left: 2vw; /*petite marge à gauche*/
	margin-right: 2vw;
	/*border: solid 1px black;*/
}

.r1
{
	display: flex;
	margin-bottom: 25px;
	margin-left: 10vw;
	/*border: solid 1px blue;*/
}



.iconegauche
{
	background-color: #f2f2f2;
	padding: 10px; /*repousse l'icone des bords*/
	margin-left: 0px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;

	/*border: solid 2px black;*/
}

.bouton_recherche1
{
	background-color: #f2f2f2;
	padding: 10px; /*repousse l'icone des bords*/
	margin-left: 0px;
	border-radius: 10px;
	color: white; /*couleur loupe*/
	background-color: #0065fc;
	border: none;
	/*border: solid 3px black;*/
}

.bouton_recherche2
{
	display: none;
}

.zone_saisie
{
	padding: 6px;
	font-size: 17px;
	font-weight: 600;
	border: 1px solid #f2f2f2;
	width: 200px;
	margin-left: 0px;
	/*border: solid 3px black;*/
}

/* passage écran supérieur à écran mobile */

@media (min-width: 700px)
{
	.r1
	{
		display: flex;
		margin-bottom: 25px;
		margin-left: 0px;
		/*border: solid 1px blue;*/
	}


	.bouton_recherche1
	{
		display: none;
	}

	.bouton_recherche2
	{
		padding: 8px; /*repousse le texte des bords*/
		background: #0065fc;
		color: white;
		font-size: 17px;
		font-weight: 600;
		border: none;
		border-top-right-radius: 10px;
		border-bottom-right-radius: 10px;
		margin-left: -1px; /* permet de coller le bouton au formulaire*/
	}

}

/*	################################################## 
	############### Début bloc filtres ###############
	##################################################	*/




.filtres
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.elementsfiltre:hover
{
	cursor: pointer; /*curseur doigt*/
	color: #0065fc;
}

.elementsfiltre
{
	display: flex;
	margin: 3px;
	text-align: center;
	border: solid;
	border-radius: 40px;
	border-width: 2px;
	border-color: lightgrey;
}

.elementsfiltre p
{
	padding-left: 10px;
	padding-right: 10px;
	margin-top: auto;
	margin-bottom: auto;
	font-weight: bold;
}

.filtres h3
{
	width: 100%;
	height: 40px;
	padding-top: 10px;
}

.elementicones
{
	display: flex;
	align-items: center;
	background-color: #deebff;
	height: 40px;
	border-radius: 50%;
	margin: -2px;
}

.icones
{
	background-color: #deebff;
	color: #0065fc;
	width: 40px;
	border-radius: 50%;
}

.element_iconeinfo
{
	display: flex;
	margin: 35px 0 20px 0;
}

.element_iconeinfo p
{
	margin-right: auto;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 12px;
}

.iconeinfo
{
	display: flex;
	color: #0065fc;
	border: 1px solid;
	border-color: lightgray;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	margin-right: 7px;
}

.tailleicone
{
	font-size: 10px;
	margin: auto;
}


/* passage écran supérieur à écran mobile */

@media (min-width: 700px)
{
  .filtres h3
	{
		margin-top: auto;
		margin-bottom: auto;
	}
}


/*	################################################## 
	################ Fin bloc filtres ################
	##################################################	*/

/*	################################################## 
	############### Fin bloc recherche ###############
	##################################################	*/









/*	################################################## 
	################## Début footer ##################
	##################################################	*/

footer /*flex position taille couleur fond footer*/
{
	display: flex;
	flex-direction: column;
	width: 100vw;
	background-color: #f2f2f2;
	padding-top: 25px;
	padding-bottom: 25px;
	margin-top: 40px;
}

.boiteFooter ul /*formatage listes à puce*/
{
	list-style-type: none;
}

.boiteFooter /*position éléments footer*/
{
	display: flex;
	margin-right: auto;
}

.boiteFooter a /*formatage et position liens des éléments du footer*/
{
	display: inline-block;
	font-weight: normal;
	text-decoration: none;
	color: black;
	font-size: 15px;
	font-weight: 400;
	padding-top: 15px;
}

/* passage au dessus de 700px */

@media (min-width: 700px)
{
	footer
	{
    	flex-direction: row;
	}
}

/*	################################################## 
	################### Fin footer ###################
	##################################################	*/